name: Publish NPM @ama-pt/a11y-ds Package

on:
  push:
    branches:
      - main
    paths:
      - 'metadata-package/src/tests-metadata.ts'
  workflow_dispatch: 

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      
      id-token: write  
    defaults:
      run:
        working-directory: ./metadata-package
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          registry-url: 'https://registry.npmjs.org'
          scope: '@ama-pt'

      - name: Install Dependencies
        run: npm install

      - name: Build Project
        run: npm run build
      - name: Bump Version
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          
           NEW_VERSION=$(node -p "require('./package.json').version")
          
          git add package.json
          [ -f package-lock.json ] && git add package-lock.json
          
          git commit -m "chore(release): $NEW_VERSION [skip ci]"
          git push origin main

      - name: Publish to npm
        run: npm publish --access public --provenance
